nodejs&db/flows.json
[
    {
        "id": "b3dd6b5b104859ea",
        "type": "tab",
        "label": "Environmental Monitoring",
        "disabled": false,
        "info": "Flow giám sát môi trường với ESP32 và Firebase"
    },
    {
        "id": "f18fde582b6c6733",
        "type": "group",
        "z": "b3dd6b5b104859ea",
        "name": "Database Storage",
        "style": {
            "label": true
        },
        "nodes": [
            "09fb20cd3f152d6e",
            "897576b8ec3fe325",
            "7d11011dfd1fd343",
            "40a1c6bccc7bbc05",
            "1cd67f210454028b",
            "0531ccfaaf104bdb",
            "81944bccd39a2782",
            "6f9fc118e34f23e3"
        ],
        "x": 514,
        "y": 139,
        "w": 652,
        "h": 282
    },
    {
        "id": "135708764a9d4cc4",
        "type": "group",
        "z": "b3dd6b5b104859ea",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "09c634dd3f052e9b",
            "786f722465f02e03",
            "96ce59b8bf197de1",
            "36b77f4f355262e0",
            "36db04385250b82f",
            "98ed8143764e3f9c",
            "a3c33afad132ab24",
            "7264166fedb8a969",
            "16f963d9b8ab7bc9",
            "7c819034873ef652",
            "6209ef7e26aa83ba",
            "4a742df634de34c7",
            "5e4e6f3ab2b8fe75",
            "cebabb1a1a7f8646",
            "5a3a24c29e41eb05",
            "710b29bffd0f9deb",
            "e2b77f2c65b7284e",
            "0f341d4cdee14bbb"
        ],
        "x": 54,
        "y": -1,
        "w": 452,
        "h": 622
    },
    {
        "id": "09c634dd3f052e9b",
        "type": "mqtt in",
        "z": "b3dd6b5b104859ea",
        "g": "135708764a9d4cc4",
        "name": "Humidity",
        "topic": "esp32/sensor/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6df0540f12236ba5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "7264166fedb8a969",
                "cebabb1a1a7f8646"
            ]
        ]
    },
    {
        "id": "786f722465f02e03",
        "type": "mqtt in",
        "z": "b3dd6b5b104859ea",
        "g": "135708764a9d4cc4",
        "name": "Pressure",
        "topic": "esp32/sensor/pressure",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6df0540f12236ba5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 260,
        "wires": [
            [
                "16f963d9b8ab7bc9",
                "5a3a24c29e41eb05"
            ]
        ]
    },
    {
        "id": "96ce59b8bf197de1",
        "type": "mqtt in",
        "z": "b3dd6b5b104859ea",
        "g": "135708764a9d4cc4",
        "name": "CO2",
        "topic": "esp32/sensor/co2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6df0540f12236ba5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 360,
        "wires": [
            [
                "7c819034873ef652",
                "710b29bffd0f9deb"
            ]
        ]
    },
    {
        "id": "36b77f4f355262e0",
        "type": "mqtt in",
        "z": "b3dd6b5b104859ea",
        "g": "135708764a9d4cc4",
        "name": "Dust",
        "topic": "esp32/sensor/dust",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6df0540f12236ba5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 460,
        "wires": [
            [
                "6209ef7e26aa83ba",
                "e2b77f2c65b7284e"
            ]
        ]
    },
    {
        "id": "36db04385250b82f",
        "type": "mqtt in",
        "z": "b3dd6b5b104859ea",
        "g": "135708764a9d4cc4",
        "name": "AQI",
        "topic": "esp32/sensor/aqi",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6df0540f12236ba5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 560,
        "wires": [
            [
                "4a742df634de34c7",
                "0f341d4cdee14bbb"
            ]
        ]
    },
    {
        "id": "98ed8143764e3f9c",
        "type": "mqtt in",
        "z": "b3dd6b5b104859ea",
        "g": "135708764a9d4cc4",
        "name": "Temperature",
        "topic": "esp32/sensor/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6df0540f12236ba5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 60,
        "wires": [
            [
                "a3c33afad132ab24",
                "5e4e6f3ab2b8fe75"
            ]
        ]
    },
    {
        "id": "a3c33afad132ab24",
        "type": "ui_gauge",
        "z": "b3dd6b5b104859ea",
        "g": "135708764a9d4cc4",
        "name": "Temperature Gauge",
        "group": "5aec396a7f817308",
        "order": 1,
        "width": "8",
        "height": "5",
        "gtype": "donut",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "35",
        "diff": false,
        "className": "",
        "x": 380,
        "y": 40,
        "wires": []
    },
    {
        "id": "7264166fedb8a969",
        "type": "ui_gauge",
        "z": "b3dd6b5b104859ea",
        "g": "135708764a9d4cc4",
        "name": "Humidity Gauge",
        "group": "5aec396a7f817308",
        "order": 2,
        "width": "8",
        "height": "5",
        "gtype": "donut",
        "title": "Humidity",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 360,
        "y": 140,
        "wires": []
    },
    {
        "id": "16f963d9b8ab7bc9",
        "type": "ui_gauge",
        "z": "b3dd6b5b104859ea",
        "g": "135708764a9d4cc4",
        "name": "Pressure Gauge",
        "group": "5aec396a7f817308",
        "order": 3,
        "width": "8",
        "height": "5",
        "gtype": "donut",
        "title": "Pressure",
        "label": "hPa",
        "format": "{{value | number:1}}",
        "min": "900",
        "max": "1100",
        "colors": [
            "#ca3838",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "980",
        "seg2": "1020",
        "diff": false,
        "className": "",
        "x": 360,
        "y": 240,
        "wires": []
    },
    {
        "id": "7c819034873ef652",
        "type": "ui_gauge",
        "z": "b3dd6b5b104859ea",
        "g": "135708764a9d4cc4",
        "name": "CO2 Gauge",
        "group": "94f03bc6e0320edd",
        "order": 1,
        "width": "8",
        "height": "5",
        "gtype": "donut",
        "title": "CO2",
        "label": "ppm",
        "format": "{{value | number:0}}",
        "min": "400",
        "max": "5000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "800",
        "seg2": "1200",
        "diff": false,
        "className": "",
        "x": 350,
        "y": 340,
        "wires": []
    },
    {
        "id": "6209ef7e26aa83ba",
        "type": "ui_gauge",
        "z": "b3dd6b5b104859ea",
        "g": "135708764a9d4cc4",
        "name": "Dust Gauge",
        "group": "94f03bc6e0320edd",
        "order": 2,
        "width": "8",
        "height": "5",
        "gtype": "donut",
        "title": "Dust",
        "label": "μg/m³",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35.4",
        "seg2": "150.4",
        "diff": false,
        "className": "",
        "x": 350,
        "y": 440,
        "wires": []
    },
    {
        "id": "4a742df634de34c7",
        "type": "ui_gauge",
        "z": "b3dd6b5b104859ea",
        "g": "135708764a9d4cc4",
        "name": "AQI Gauge",
        "group": "94f03bc6e0320edd",
        "order": 3,
        "width": "8",
        "height": "5",
        "gtype": "donut",
        "title": "AQI",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "200",
        "diff": false,
        "className": "",
        "x": 350,
        "y": 540,
        "wires": []
    },
    {
        "id": "5e4e6f3ab2b8fe75",
        "type": "ui_chart",
        "z": "b3dd6b5b104859ea",
        "g": "135708764a9d4cc4",
        "name": "Temperature History",
        "group": "4cfb1c5353984686",
        "order": 1,
        "width": "12",
        "height": "7",
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3600",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 380,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "cebabb1a1a7f8646",
        "type": "ui_chart",
        "z": "b3dd6b5b104859ea",
        "g": "135708764a9d4cc4",
        "name": "Humidity History",
        "group": "4cfb1c5353984686",
        "order": 2,
        "width": "12",
        "height": "7",
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3600",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca02c"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 360,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "5a3a24c29e41eb05",
        "type": "ui_chart",
        "z": "b3dd6b5b104859ea",
        "g": "135708764a9d4cc4",
        "name": "Pressure History",
        "group": "3302b0f6c88da3e5",
        "order": 1,
        "width": "12",
        "height": "7",
        "label": "Pressure",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3600",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff7f0e"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 360,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "710b29bffd0f9deb",
        "type": "ui_chart",
        "z": "b3dd6b5b104859ea",
        "g": "135708764a9d4cc4",
        "name": "CO2 History",
        "group": "3302b0f6c88da3e5",
        "order": 2,
        "width": "12",
        "height": "7",
        "label": "CO2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3600",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#d62728"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 350,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "e2b77f2c65b7284e",
        "type": "ui_chart",
        "z": "b3dd6b5b104859ea",
        "g": "135708764a9d4cc4",
        "name": "Dust History",
        "group": "68e8d7ac28844c49",
        "order": 1,
        "width": "12",
        "height": "7",
        "label": "Dust",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3600",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#9467bd"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 350,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "0f341d4cdee14bbb",
        "type": "ui_chart",
        "z": "b3dd6b5b104859ea",
        "g": "135708764a9d4cc4",
        "name": "AQI History",
        "group": "68e8d7ac28844c49",
        "order": 2,
        "width": "12",
        "height": "7",
        "label": "AQI",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3600",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#8c564b"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 350,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "09fb20cd3f152d6e",
        "type": "function",
        "z": "b3dd6b5b104859ea",
        "g": "f18fde582b6c6733",
        "name": "Format MySQL Data",
        "func": "let sensor = context.get('sensor') || {};\n\nswitch (msg.topic) {\n    case 'esp32/sensor/temperature':\n        sensor.temperature = parseFloat(msg.payload);\n        break;\n    case 'esp32/sensor/humidity':\n        sensor.humidity = parseFloat(msg.payload);\n        break;\n    case 'esp32/sensor/pressure':\n        sensor.pressure = parseFloat(msg.payload);\n        break;\n    case 'esp32/sensor/co2':\n        sensor.co2 = parseFloat(msg.payload);\n        break;\n    case 'esp32/sensor/dust':\n        sensor.dust = parseFloat(msg.payload);\n        break;\n    case 'esp32/sensor/aqi':\n        sensor.aqi = parseFloat(msg.payload);\n        break;\n}\n\ncontext.set('sensor', sensor);\n\n// Check if we have all sensor readings\nif (sensor.temperature !== undefined &&\n    sensor.humidity !== undefined &&\n    sensor.pressure !== undefined &&\n    sensor.co2 !== undefined &&\n    sensor.dust !== undefined &&\n    sensor.aqi !== undefined) {\n    \n    let now = new Date();\n    now.setHours(now.getHours() + 7); // Vietnam timezone\n    let timestamp = now.toISOString().slice(0, 19).replace('T', ' ');\n    \n    msg.topic = `INSERT INTO sensor_data (temperature, humidity, pressure, co2, dust, aqi, timestamp) VALUES (${sensor.temperature}, ${sensor.humidity}, ${sensor.pressure}, ${sensor.co2}, ${sensor.dust}, ${sensor.aqi}, '${timestamp}')`;\n    \n    // Reset sensor data after storing\n    context.set('sensor', {});\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 280,
        "wires": [
            [
                "897576b8ec3fe325"
            ]
        ]
    },
    {
        "id": "897576b8ec3fe325",
        "type": "mysql",
        "z": "b3dd6b5b104859ea",
        "g": "f18fde582b6c6733",
        "mydb": "c08db5e37956216c",
        "name": "MySQL Storage",
        "x": 1060,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "7d11011dfd1fd343",
        "type": "mqtt in",
        "z": "b3dd6b5b104859ea",
        "g": "f18fde582b6c6733",
        "name": "Humidity",
        "topic": "esp32/sensor/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6df0540f12236ba5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 620,
        "y": 220,
        "wires": [
            [
                "09fb20cd3f152d6e"
            ]
        ]
    },
    {
        "id": "40a1c6bccc7bbc05",
        "type": "mqtt in",
        "z": "b3dd6b5b104859ea",
        "g": "f18fde582b6c6733",
        "name": "Pressure",
        "topic": "esp32/sensor/pressure",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6df0540f12236ba5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 620,
        "y": 260,
        "wires": [
            [
                "09fb20cd3f152d6e"
            ]
        ]
    },
    {
        "id": "1cd67f210454028b",
        "type": "mqtt in",
        "z": "b3dd6b5b104859ea",
        "g": "f18fde582b6c6733",
        "name": "CO2",
        "topic": "esp32/sensor/co2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6df0540f12236ba5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 630,
        "y": 300,
        "wires": [
            [
                "09fb20cd3f152d6e"
            ]
        ]
    },
    {
        "id": "0531ccfaaf104bdb",
        "type": "mqtt in",
        "z": "b3dd6b5b104859ea",
        "g": "f18fde582b6c6733",
        "name": "Dust",
        "topic": "esp32/sensor/dust",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6df0540f12236ba5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 630,
        "y": 340,
        "wires": [
            [
                "09fb20cd3f152d6e"
            ]
        ]
    },
    {
        "id": "81944bccd39a2782",
        "type": "mqtt in",
        "z": "b3dd6b5b104859ea",
        "g": "f18fde582b6c6733",
        "name": "AQI",
        "topic": "esp32/sensor/aqi",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6df0540f12236ba5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 630,
        "y": 380,
        "wires": [
            [
                "09fb20cd3f152d6e"
            ]
        ]
    },
    {
        "id": "6f9fc118e34f23e3",
        "type": "mqtt in",
        "z": "b3dd6b5b104859ea",
        "g": "f18fde582b6c6733",
        "name": "Temperature",
        "topic": "esp32/sensor/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6df0540f12236ba5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 610,
        "y": 180,
        "wires": [
            [
                "09fb20cd3f152d6e"
            ]
        ]
    },
    {
        "id": "6df0540f12236ba5",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "192.168.137.127",
        "port": "1883",
        "clientid": "node-red-client",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5aec396a7f817308",
        "type": "ui_group",
        "name": "Environmental Sensors",
        "tab": "environment_tab",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "94f03bc6e0320edd",
        "type": "ui_group",
        "name": "Air Quality Sensors",
        "tab": "environment_tab",
        "order": 2,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4cfb1c5353984686",
        "type": "ui_group",
        "name": "Temperature & Humidity History",
        "tab": "environment_tab",
        "order": 3,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3302b0f6c88da3e5",
        "type": "ui_group",
        "name": "Pressure & CO2 History",
        "tab": "environment_tab",
        "order": 4,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "68e8d7ac28844c49",
        "type": "ui_group",
        "name": "Dust & AQI History",
        "tab": "environment_tab",
        "order": 5,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c08db5e37956216c",
        "type": "MySQLdatabase",
        "name": "Environment DB",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "environmental_monitoring_system",
        "tz": "Asia/Ho_Chi_Minh",
        "charset": "UTF8"
    },
    {
        "id": "environment_tab",
        "type": "ui_tab",
        "name": "Environmental Monitor",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]